<!DOCTYPE html>

<!-- CURRENT SPOT IN TUTORIAL: Angular Directives -->

<html>

<!-- AngularJS -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.27/angular.min.js"></script>
<!-- ngStorage AngularJS module -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/ngStorage/0.3.9/ngStorage.js"></script>

<!-- Styling -->
<style>
	
	#textBox {
		width: 150px;
	}
	
	#completeList {
		visibility: hidden;
		border: 1px solid black;
		border-top: none;
		padding: 5px;
	}
	
	#todoList {
		border: 1px solid black;
		padding: 5px;
	}
		
	#stage {
		border: 1px solid red;
		padding: 15px;
	}	
			
	.entry {
		width: 300px;
	}

</style>

<!-- Scripting -->
<script>
      var control = angular.module("myApp", ["ngStorage"]);
            control.controller("myController", function($scope, $localStorage) {
  	
  				$localStorage.todo;
  				$scope.todos = $localStorage.todo;
  				
  				$localStorage.complete;
  				$scope.completes = $localStorage.complete;
  				
  				$scope.remaining = $localStorage.todo.length;
  				$scope.completed = $localStorage.complete.length;
  				
                $scope.add = function() {
                	if($scope.enteredValue == null || $scope.enteredValue == "")
                	{
                		//Do Nothing
                	}
                	else
                	{
                    	$localStorage.todo.push($scope.enteredValue);
                    	$scope.todos = $localStorage.todo;
                    	$scope.remaining = $localStorage.todo.length;
                    }
                }
                
                $scope.clearTodo = function() {
                	$localStorage.todo = [];
                    $scope.todos = $localStorage.todo;
  					$scope.remaining = $localStorage.todo.length;
                }
                
                $scope.clearComplete = function() {
                	$localStorage.complete = [];
                	$scope.completes = $localStorage.complete;
                	$scope.completed = $localStorage.complete.length;
                }
                
                $scope.remove = function(item) {
                	var i = $localStorage.todo.indexOf(item);
          			$localStorage.todo.splice(i, 1);
          			$scope.todos = $localStorage.todo;
          			$scope.remaining = $localStorage.todo.length;
                }
                
                $scope.complete = function(item) {
                	$scope.remove(item);
                	$localStorage.complete.push(item);
                	$scope.completes = $localStorage.complete;  				
                	$scope.remaining = $localStorage.todo.length;
  					$scope.completed = $localStorage.complete.length;
                }
                
                $scope.show = function() {
                	
                	var completed = document.getElementById('completeList');
                	                	
                	if(completed.style.visibility != 'visible')
                	{
                		completed.style.visibility = 'visible';
                		document.getElementById('showButton').textContent = 'Hide Completed';
                	}
                	else
                	{
                		completed.style.visibility = 'hidden';
                		document.getElementById('showButton').textContent = 'Show Completed';
                	}
                	
                }
 
            });
</script>

<head>
	<title> ToDo List </title>
</head>

<body ng-app="myApp">
        <div id="stage" ng-controller="myController">
        	<input type="text" id="textBox" ng-model="enteredValue" placeholder="What do you have to do...">
            <button type="button" ng-click="add()">Add to List</button>
            <button id="showButton" type="button" ng-click="show()">Show Completed</button>
            <br>
            <br>
                        
            <div id="todoList">
            	Todo List: <button type="button" ng-click="clearTodo()">Clear List</button>
            	<ul>
            		<li ng-repeat="todo in todos">
            			<div class="entry">
    						<button type="button" ng-click="complete(todo)">Completed</button>
            				<button type="button" ng-click="remove(todo)">Delete</button>
            				{{todo}}
            			</div>
            		</li>
            	</ul>
            	Remaining: {{remaining}}
            </div>
                        
            <div id="completeList">
            	Complete List: <button type="button" ng-click="clearComplete()">Clear List</button>
            	<ul>
            		<li ng-repeat="complete in completes">
            			<div>
            				{{complete}}
            			</div>
            		</li>
            	</ul>
            	Completed: {{completed}}
            </div>
                        
        </div>
    </body>

</html>

